.article {
  padding-top: 40px;

  &__wrap {
    padding-bottom: 10px;
  }

  &__header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-200;
    word-break: break-word;

    h1 {
      color: $gray-600;
    }

    .badge {
      margin-right: 3px;
    }

    .period {
      font-size: $font-size-xs;
      color: $gray-500;
      display: inline;
      margin-right: 10px;
    }
  }

  &__content {
    padding-bottom: 10px;

    h2 {
      margin-bottom: 20px;
      padding-top: 20px;
      color: $gray-600;
    }

    h3 {
      margin-bottom: 20px;
      padding-top: 20px;
      color: $gray-600;
    }

    p {
      margin: 20px 0;
    }

    blockquote {
      padding: 1em;
      background-color: $gray-100;
      border-left: 5px solid $gray-200;

      p {
        margin: 0;
        font-size: 12px;
      }
    }
  }
}
