.c-works {
  .c-works__list {
    margin-top: 50px;
  }

  .c-works__top {
    position: relative;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .c-works__skills {
    margin-bottom: 15px;

    .badge {
      margin-right: 3px;
    }
  }
}
